PORT=5000

# DB Config
TECH_DB_CONNECTION_STRING=postgresql://postgres:password@localhost:5432/tech_dashboard
HOST=localhost
SUPERBASE_HOST=5432
SUPERBASE_DB=tech_dashboard
SUPERBASE_USER=postgres

# JWT Config
JWT_ACCESS_SECRET=your-super-secret-access-key-change-this-in-production
JWT_REFRESH_SECRET=your-super-secret-refresh-key-change-this-in-production
